<mat-card class="movie-card" class="movie-thumbnail">
    <mat-card-header>
        <mat-card-title class="movieTitle">{{movie?.title}}</mat-card-title>
        <mat-card-subtitle>{{movie?.release_date}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="movie-image" [src]="movie?.poster_path" [alt]="movie?.title">
    <mat-card-content class="movie-overview">
        {{movie?.overview}}
    </mat-card-content>
    <mat-card-actions class="movie-actions">
        <button *ngIf="!useWatchlistApi" mat-raised-button color="primary" class="addButton" (click)="addToWatchList()">Add To Watchlist</button>
        <button *ngIf="useWatchlistApi" mat-raised-button color="primary" (click)="deleteFromWatchList()">Remove</button>
        <button *ngIf="useWatchlistApi" mat-raised-button color="primary" (click)="updateWatchList('update')" align="end">Update</button>
      </mat-card-actions>
</mat-card>